<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Controle Financeiro v2.0</title>
  <link rel="stylesheet" href="css/style.css" />
</head>

<body>
  <div id="app">
    <h2>{{title}}</h2>
    <section class="container">
      <h4>Saldo Atual</h4>
      <p id="balance" class="balance">{{balanceInMoney}}</p>
      <article class="inc-exp-container">
        <div>
          <h4>Receitas</h4>
          <p id="money-plus" class="money plus">{{incomeInMoney}}</p>
        </div>
        <div>
          <h4>Despesas</h4>
          <p id="money-minus" class="money minus">{{expenseInMoney}}</p>
        </div>
      </article>
      <article>
        <h3>Transações</h3>
        <ul class="transactions" id="transactions">
          <li v-for="transaction in transactionsArray" :key="transaction.id" :class="transaction.amount >= 0 ? 'plus' : 'minus'">
            {{transaction.name}}
            <span>{{transaction.amount >= 0 ? '+' : '-'}} {{transactionInMoney(transaction.amount)}}</span>
            <button class="delete-btn" @click="removeTransaction(transaction.id)">x</button>
          </li>
        </ul>
        <h4>Adicionar Transações</h4>
        <form id="form" @submit.prevent="addTransaction" method="post">
          <div class="form-control">
            <label for="name">Nome</label>
            <input type="text" name="name" id="name" required v-model="actualTransaction.name" placeholder="Nome da transação">
          </div>
          <div class="form-control">
            <label for="amount">Valor<br/> <small>(negativo - despesas, positivo - receitas)</small></label>
            <input type="number" name="amount" required id="amount" v-model="actualTransaction.amount" placeholder="Valor da transação">
          </div>
          <button type="submit" class="btn">Adicionar</button>
        </form>
      </article>
    </section>
  </div>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="js/app.js"></script>
</body>

</html>